* {
    margin: 0;
    padding: 0;
}

div.container {
    width: 100%;
    height: 100vh;
    background: url(https://images.pexels.com/photos/1762851/pexels-photo-1762851.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center center;
    position: relative;
}

div.container div.orta h2 {
    margin-bottom: 20px;
    text-align: center;
}

div.container div.orta p{
    text-align: center;
}

hr{
    margin-bottom: 20px;
}

.orta{
    position: absolute;
    top: 30%;
    left: 30%;
    width: 500px;
    transform: translate(-50%);
    
}

div.orta p{
    line-height: 30px;
    text-align: left;
    text-indent: 20px;
}

h2{
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: 100;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 6px;
    text-shadow: 5px 5px 10px black;
    text-transform: capitalize;
}

hr{
    color: gray;
    background: #FF0004;
    height: 1px;
    border: none;
}