.container {
    display: flex;
    height: 400px;
    flex-wrap: wrap;
    align-content: space-between;
    background-color: #4644FF;

}

.kutu {
    background-color: #F1F1F1;
    width: 100px;
    text-align: center;
    line-height: 75px;
    margin: 10px;
    font-size: 30px;
}