.kutu{
    width: 500px;
    height: 200px;
    background-color: antiquewhite;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    border: 1px solid black;
    transform: translate(-50%,-50%);
} 

img{
    width: 500px;
    height: 200px;
}

img:hover{
    transform: translate(130px,130px) scale(1.5) rotate(20deg);
    transition: all 1s ease-in-out;
}